@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #252c33;
  color: white;
  font-family: ABeeZee;
  margin: 0;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
a:hover {
  border-bottom: 3px solid #f6c90e;
}
li {
  display: inline-block;
  padding: 0px 13px 0px;
}
button {
  background-color: inherit;
  border: none;
}

.topnav {
  padding-top: 20px;
  width: 100%;
  height: 100px;
  background-color: rgb(30, 30, 94);
  overflow: hidden;
  display: flex;
  padding-bottom: 20px;
}
#topnavc1 {
  width: 50%;
}
#topnavc2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
#topnavc3 {
  position: absolute;
  left: 20px;
  display: none;
}
#topnavc4 {
  position: absolute;
  right: 20px;
  display: none;
}
#topnavc4 i {
  color: white;
  cursor: pointer;
}
#menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 120;
  background-color: #364758;
  width: 70%;
  border-radius: 100px 0px 0px 100px;
  animation-name: menu;
  animation-duration: 3s;
}
@keyframes menu {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}
#menu ul li {
  display: block;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.herobanner {
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  overflow: hidden;
}
#intro {
  width: 600px;
  height: 300px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin-top: 80px;
  animation-name: example;
  animation-duration: 4s;
  position: relative;
}
@keyframes example {
  from {
    left: 500px;
  }
  to {
    left: 0px;
  }
}

#intro h1 {
  font-size: 300%;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  position: relative;
}
#intro p {
  width: 80%;
  margin: auto;
}
#con-me {
  text-align: center;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: white;
  cursor: pointer;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(30, 30, 94, 1);
}
#con-me a:hover {
  border: none;
  color: #f6c90e;
}

#elements {
  opacity: 0.6;
  position: absolute;
  color: #f6c90e;
}
#code1 {
  position: absolute;
  left: -450px;
  top: 50px;
  transform: rotate(310deg);
  padding: 30px 8px 30px;
  border-radius: 50%;
  background-color: rgb(211, 94, 94, 0.7);
  animation-name: html;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#code2 {
  position: absolute;
  left: -500px;
  top: 400px;
  transform: rotate(30deg);
  padding: 20px 8px 20px;
  border-radius: 50%;
  background-color: rgba(94, 211, 176, 0.7);
}
#code3 {
  position: absolute;
  right: 550px;
  top: 120px;
  transform: rotate(0deg);
  padding: 30px 8px 30px;
  border-radius: 50%;
  background-color: rgba(211, 116, 116, 0.842);
  animation-name: codes;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#code4 {
  position: absolute;
  left: 450px;
  top: 350px;
  transform: rotate(180deg);
  padding: 30px 8px 30px;
  border-radius: 50%;
  background-color: rgba(42, 70, 190, 0.7);
}
#code5 {
  position: absolute;
  left: 500px;
  top: 100px;
  transform: rotate(310deg);
  padding: 35px 8px 35px;
  border-radius: 50%;
  background-color: rgb(211, 94, 94, 0.7);
  animation-name: section;
  animation-duration: 5s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#code6 {
  position: absolute;
  left: 330px;
  top: 200px;
  transform: rotate(0deg);
  padding: 20px 8px 20px;
  border-radius: 50%;
  background-color: rgba(221, 209, 42, 0.7);
}
@keyframes html {
  from {
    left: -450px;
    top: 50px;
  }
  to {
    background-color: rgb(202, 62, 127);
    left: -350px;
    top: 20px;
  }
}
@keyframes codes {
  from {
    right: 550px;
    top: 150px;
  }
  to {
    background-color: blue;
    right: 450px;
    top: 200px;
  }
}
@keyframes section {
  from {
    left: 500px;
    top: 100px;
  }
  to {
    background-color: rgb(62, 202, 195);
    left: 400px;
    top: 50px;
  }
}

.skills {
  width: 100%;
  height: 150px;
  overflow: hidde;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: space-evenly;
  position: relative;
  bottom: 70px;
}
#margin {
  position: absolute;
  width: 130px;
}
#margin svg {
  position: absolute;
}
#html #bcircle {
  stroke-dasharray: 23px;
  position: absolute;
  z-index: 100;
  fill: none;
}
#html #dcircle {
  stroke-dasharray: 37px;
  position: absolute;
  z-index: 99;
  fill: none;
}
#html #ccircle {
  stroke-dasharray: 88px;
  position: absolute;
  z-index: 98;
  fill: rgb(184, 167, 167, 0.4);
}
#margin p {
  text-align: center;
  margin-top: 45px;
  z-index: 101;
  font-size: 20px;
  font-weight: bolder;
}
#css #bcircle {
  stroke-dasharray: 23px;
  position: absolute;
  z-index: 100;
  fill: none;
}
#css #dcircle {
  stroke-dasharray: 31px;
  position: absolute;
  z-index: 99;
  fill: none;
}
#css #ccircle {
  stroke-dasharray: 88px;
  position: absolute;
  z-index: 98;
  fill: rgb(184, 167, 167, 0.4);
}
#js #bcircle {
  stroke-dasharray: 23px;
  position: absolute;
  z-index: 100;
  fill: none;
}
#js #ccircle {
  stroke-dasharray: 88px;
  position: absolute;
  z-index: 98;
  fill: rgb(184, 167, 167, 0.4);
}

.about {
  display: grid;
  grid-template-columns: 30% 50%;
}
#about {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 20px;
  color: #f6c90e;
}
#abouttext {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
  margin-top: 30px;
  line-height: 1.6;
}
#aboutbody {
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: 3s all ease;
}
#aboutimg {
  overflow: hidden;
  margin-left: 40px;
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: 3s all ease;
}
#aboutimg.active {
  transform: translateX(0);
  opacity: 1;
}
#aboutbody.active {
  transform: translateX(0);
  opacity: 1;
}

#socials {
  margin-top: 60px;
  width: 100%;
}
#socials ul li {
  padding: 0px 40px 0px;
}
#socials a:hover {
  color: #f6c90e;
  border: none;
}
.portfolio {
  margin-top: 50px;
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 3s all ease;
  background-color: #0d1930;
}
.portfolio.active {
  transform: translateY(0);
  opacity: 1;
}

.portfolio h2 {
  text-align: center;
  padding: 20px;
  margin: 120px 0px 50px;
  color: #f6c90e;
}
#slideshow {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  justify-items: center;
  text-align: justify;
  line-break: strict;
  font-size: 14px;
}
#img {
  border: 2px solid mintcream;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 40px 0px 40px 0px;
  margin: auto;
  cursor: zoom-in;
}
#img a img {
  cursor: zoom-in;
}
#seemore {
  text-align: center;
  width: 100%;
  padding: 30px;
  text-decoration: underline;
  color: #f6c90e;
}
#slideshow p {
  width: 70%;
  margin: auto;
  text-indent: 0.1px;
  padding: 20px 0px;
  letter-spacing: -1px;
}
#myimg {
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 109;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  color: white;
  fill: white;
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  fill: white;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gs {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
}
.gs h3 {
  text-align: center;
  color: #f6c90e;
}
.gained-skill,
.bio {
  background-color: #10295a;
  border-radius: 50%;
  height: auto;
}
.gained-skill ul {
  text-align: center;
  margin-top: 40px;
}
.gained-skill ul li {
  padding: 20px;
  color: #41d84d;
}

#bio {
  margin: auto;
  text-align: center;
  width: 70%;
  font-size: 16px;
  padding-bottom: 30px;
}

.footer {
  margin-top: 70px;
  display: flex;
  background-color: #0d1930;
  justify-content: space-between;
}
#form {
  width: 35%;
  margin: 20px 20px;
}
.col-75 input,
.col-75 textarea {
  width: 100%;
  margin: 10px 0px;
  padding: 3px 0px;
  border: none;
  border-radius: 10px;
  background-color: rgb(156, 149, 149);
}
#form button {
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 10px 0px;
  background-color: rgb(30, 30, 94);
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
#backtop {
  position: relative;
  bottom: 20px;
  opacity: 0.3;
  left: 5%;
  margin: 0;
}
#backtop a:hover {
  opacity: 1;
  border: none;
}

#contacts {
  width: 40%;
  align-content: right;
  margin-top: 60px;
  text-align: right;
  padding-right: 20px;
}
#email {
  padding: 60px 10px;
}

@media screen and (max-width: 600px) {
  #topnavc1 {
    display: none;
  }
  #topnavc2 {
    display: none;
  }
  #topnavc3 {
    display: block;
  }
  #topnavc4 {
    display: block;
  }
  .about {
    display: block;
    margin: 0px 20px 0px;
  }
  #aboutbody {
    margin-top: 40px;
  }
  #slideshow {
    display: block;
    margin: 0px 20px 0px;
  }
  #img {
    margin-top: 40px;
  }
  .gs {
    display: block;
    margin: 0px 20px 0px;
  }
  .gained-skill {
    padding: 40px 0px;
    margin: 50px 0px 30px;
  }
  .bio {
    padding: 20px 0px;
  }
  .footer {
    display: block;
    padding: 50px 20px 0px;
  }
  #form {
    width: 90%;
  }
  #backtop {
    position: relative;
    bottom: 445px;
    left: 200px;
  }
  #contacts {
    width: 100%;
  }
  #socia ul {
    display: flex;
    justify-content: space-around;
  }
  #email,
  #copyright {
    width: 100%;
    text-align: center;
  }
}
